@model IEnumerable<QuanLyDiemRenLuyen.Models.SUKIEN>

@{
    ViewBag.Title = "ViewALL";
    Layout = null;
}
<table class="table table-striped table-condensed" id="employeeTable">
    <thead>
        <tr>
            <th>
               Tên sự kiện
            </th>
            <th>
               Địa điểm
            </th>
            <th>
               Thời Gian
            </th>
            <th>
               Điểm
            </th>
            <th>
               Tình Trạng
            </th>
            <th>
               Ghi Chú
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TENSK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIADIEM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.THOIGIAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIEM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TINHTRANG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GHICHU)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "QuanLySuKien", new { id=@item.ID})')"><i class="fa fa-pencil fa-lg"></i></a>
                    <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "QuanLySuKien", new { id=@item.ID})')"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
